<%- include("./partials/header") %>
<div style="background: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80)" class="page-holder bg-cover">
	<div class="ui container text segment" id="mainindexpage">
		<div class="ui huge header center aligned"><%- book.title %></div>
		<div class="meta">
				<span>Rating:
				<% for (var i = 0; i < book.rating; i++) { -%>
					<i class="yellow star icon" style="display: inline"></i>
				<% } -%>
				<% for (var i = 0; i < 5 - book.rating; i++) { -%>
					<i class="yellow star outline icon" style="display: inline"></i>
				<% } -%>
				</span>
		</div>
		<div class="ui divider"></div>
		<img src="<%= book.image %>" class="ui image bordered medium centered">
		<div class="ui divider"></div>
		<div class="ui divided items">
			<div class="item">
				<div class="content" style="text-align: justify;">
					<div class="header">Summary:</div>
					<div class="description"><p><%- book.description %></p></div>
				</div>
			</div>
			<div class="item">
				<div class="content" style="text-align: justify;">
					<div class="header">Book Review:</div>
					<div class="description"><p><%- book.review %></p></div>
				</div>
			</div>
			<div class="item">
				<div class="content" style="text-align: justify;">
					<div class="item">IBN number:</div>
					<div class="description"><p><%- book.number %></p></div>
				</div>
			</div>
			<div class="item">
				<div class="content" style="text-align: justify;">
					<div class="item">Author:</div>
					<div class="description"><p><%- book.author %></p></div>
				</div>
			</div>
			<div class="item">
				<div class="content" style="text-align: justify;">
					<div class="item">Language:</div>
					<div class="description"><p><%- book.language %></p></div>
				</div>
			</div>
			<div class="item">
				<div class="content" style="text-align: justify;">
					<div class="item">Year of publication:</div>
					<div class="description"><p><%- book.year %></p></div>
				</div>
			</div>
			<div class="item">
				<div class="content" style="text-align: justify;">
					<div class="item">Genre:</div>
					<div class="description"><p><%- book.genre %></p></div>
				</div>
			</div>
			<div class="item">
				<div class="content" style="text-align: justify;">
					<div class="item">Link:</div>
					
					<div class="link"><p><%- book.link %>"</p></div>
					
				</div>
			</div>
		</div>
		<a href="/books/<%=book._id%>/edit" class="ui black basic button">Comment and rate</a>
		
	</div>
	</div>

<%- include("./partials/footer") %>